<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}">Título</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div th:fragment="header">
      <header class="app-header">
        <div class="app-header__title-container">
          <h1 class="app-header__title">Bat Bat Car</h1>

        </div>
      </header>
    </div>

    <div th:fragment="messages(infoMensaje, errores)">
      <div th:if="${infoMensaje != null}" class="center">
        <p th:text="${infoMensaje}" class="message message--success"></p>
      </div>
      <div th:if="${errores != null}" class="center">
        <p th:text="${errores}" class="message message--error"></p>
      </div>
    </div>

    <div th:fragment="footer">
      <footer class="app-footer">
        <p class="app-footer__text">
          Bat Bat Car <br />
          Miguel Ángel Martínez
        </p>
      </footer>
    </div>
  </body>
</html>
